@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* TODO: handle swiper style inside file */
  --swiper-pagination-color: white;
  --swiper-pagination-bullet-inactive-color: gray;
  --swiper-pagination-bullet-inactive-opacity: 1;
}

/* TODO: move to video component */
iframe {
  aspect-ratio: 16/9;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
