@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --theme-blue: #27b5f7;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* TODO: add H1/H2/H3/H4 component */
body h1 {
  font-size: 32px;
  font-weight: bold;
}

body h2 {
  font-size: 24px;
  font-weight: bold;
}

body h3 {
  font-size: 18px;
  font-weight: bold;
}

/* TODO: move to video component */
iframe {
  aspect-ratio: 16/9;
  border-radius: 10px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
