.root {
  height: 100vh;
  width: 100%;
  position: relative;
}

.map {
  height: 100%;
  width: 100%;
}

.leaflet-container {
  position: relative;
  float: left;
  background: #fff;
  color: #1978cf;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1000;
  border: 2px solid rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
  margin-left: 10px;
  margin-top: 10px;
}
